body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f5f0;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

header .logo img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

header nav a {
  text-decoration: none;
  color: #333333;
  margin-left: 20px;
  transition: color 0.3s ease;
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

header nav a:hover {
  color: #e75b5b;
}

header nav a img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.speech-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 0; 
}

.speech-button img {
  width: 25px;
  height: 25px;
  display: block;
}

main {
  padding: 20px 0;
  flex: 1;
}

.hero {
  position: relative;
  color: white;
  background-image: url('images/2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 80px 0;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px dashed #ddd;
  z-index: 2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hero-container {
  text-align: center;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.hero h1,
.hero p,
.hero .button {
  z-index: 1;
  position: relative;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: 600;
}

.hero p {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.6;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e75b5b;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #cc4c4c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.games {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.games h2 {
  color: #666360
}

.games h2 {
  text-align: center;
}

.games h2,
.benefits h2,
.news .news-header .news-title h2{
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
}

.games::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EDE7E0;
  z-index: -1;
}

.game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.game-card {
  width: 280px;
  background-color: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.game-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #faf7f2;
  z-index: -1;
  transform: scale(0.98);
}

.game-card img {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.game-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.game-card p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #777777;
  text-align: justify;
}

.saper-link {
  text-align: center;
  margin: 30px auto;
  font-size: 1.1em;
}

.saper-link a {
  color: #e75b5b;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background-color: #e75b5b;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
  cursor: pointer;
}

.saper-link a:hover {
  background-color: #cc4c4c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.benefits-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefit-card {
  width: calc(50% - 20px);
  background-color: transparent;
  border: 1px solid #333;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.benefit-card::before {
  display: none;
}

.benefit-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  float: left;
  margin-right: 10px;
}

.benefit-card h3 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 510;
  display: block;
  overflow: hidden;
}

.benefit-card p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #777777;
  text-align: justify;
  clear: left;
}

.news {
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
}

.news .container{
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
}

.news-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #000;
}

.news-header {
  display: flex;
  gap: 20px;
  align-items: center; 
  justify-content: space-between; 
}

.news-header .news-title h2 {
  text-align: left;
  line-height: 1.1;
  margin-bottom: 0; 
}

.news-header .news-title h2:nth-child(2) {
  text-align: left;
}

.news-header p {
  line-height: 1.4;
  padding: 0 100px;
  text-align: justify;
  color: #777777;
}

.news-link {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
}

.news-link:hover {
  color: #777;
  border: 1px solid #777;
}

.news-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px; 
}

.news-card {
  width: calc(25% - 20px);
  background-color: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.news-card a {
  text-decoration: none;
  color: #333333;
  display: block;
  position: relative;
}

.news-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.news-card h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 600;
  transition: font-size 0.3s ease;
}

.news-card:hover h3 {
  font-size: 1.1rem;
}

.news-card p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #777777;
  text-align: justify;
  margin-bottom: 10px;
}

.news-date {
  font-size: 0.8em;
  color: #666;
}

.contact-page .form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 20px auto;
}

.contact-page h2{
  text-align: center;
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.form-group textarea {
  resize: vertical;
  min-height: 150px;
}

.saper-content {
  border-radius: 5px;
  padding: 15px;
  max-width: 1300px;
}

.saper-rules{
  display: flex;
  align-items: flex-start;
  background-color: #EDE7E0;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 1300px;
  gap: 20px;
  position: relative;
}

.saper-rules img {
  width: 30%;
  height: auto;
  margin-bottom: 10px;
  float: left;
  border-radius: 5px;
}

.saper-rules > div {
  flex: 1;
}

.saper-rules h2 {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
  margin-top: 0;
  color:#000
}

.saper-rules p {
  font-weight: 300;
  text-align:justify;
  font-size: 1.1em;
  color:#000;
}

.saper-images {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
  margin: 20px auto;
  max-width: 1300px;
  padding: 10px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; 
  margin: 0 10px;
}

.saper-images img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px; 
}

.saper-images .image-title{
  font-weight: 700;
  text-align: center;
  font-size: 1.3em;
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
}

.saper-images .image-text {
  font-weight: 300;
  text-align:justify; 
  font-size: 1.1em;
  color:#000;
}

.saper-demo-fullscreen {
  background-color: #fff;
  padding: 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px; 
}

.saper-demo-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}

.saper-demo-fullscreen video {
  width: 40%; 
  max-width:800px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.saper-demo-fullscreen h2 {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
  margin-top: 0;
  color:#000;
  text-align: left;
}

.saper-content h1{
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
  margin-top: 0;
}

.saper-content p{
  font-weight: 200;
  text-align:justify;
  font-size: 1.1em;
}

.confirmation-page {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.confirmation-page h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.confirmation-page .social-buttons {
  margin-top: 30px;
}

.confirmation-page .social-buttons h3 {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.confirmation-page .social-buttons img {
  width: 30px;
  margin: 0 5px;
}

.suggested-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.suggested-content a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; 
  background-color: #f9f5f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.suggested-content a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.suggested-content img {
  width: auto;    
  height: 150px; 
  object-fit: cover; 
  margin-bottom: 10px;
  border-radius: 5px;
}

.button-back {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e75b5b;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
  cursor: pointer;
}

.button-back:hover {
  background-color: #cc4c4c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #fff;
  padding: 15px 0;
  margin-top: auto;
}

footer .container {
  text-align: center;
  color: #777777;
}

.social-links {
  display: flex;
  gap: 20px; 
  justify-content: center;
}

.social-link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.social-link img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.social-link:hover {
  color: #e75b5b; 
  text-decoration: underline;
}

.required {
  color: #e75b5b;
  margin-left: 3px;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  header .logo {
    font-size: 1.2em;
  }

  header nav a {
    margin-left: 10px;
    font-size: 0.9em;
  }

  .hero h1 {
    font-size: 2em;
  }
  
  .news-header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .news-grid{
    flex-direction: column;
    gap: 10px;
  }
  
  .news-card {
    width: 90%;
    max-width: 100%;
  }

  .game-card,
  .benefit-card {
    width: 90%;
    max-width: 100%;
    text-align: left;
  }

  .benefit-card img {
    float: none;
    display: block;
    margin: 10px auto;
  }

  .benefit-card h3 {
    margin-top: 10px;
  }

  .saper-images {
    flex-direction: column; 
    align-items: center; 
  }

  .image-container {
    margin: 10px auto;
    width: 100%; 
  }
  
  .saper-images img {
    width: 180px;
    margin: 10px auto;
  }
  
  .saper-demo-fullscreen .saper-demo-content{
    align-items: center;
    margin: auto;
  }

  .saper-demo-fullscreen video {
    width: 100%;
    max-width: 100%;
  }
  
  .saper-demo-fullscreen h2 {
    text-align: center;
  }
  
  .suggested-content{
    flex-direction: column;
    align-items: center;
  }
  
  .suggested-content a {
    width: 90%;
  }
  
  .suggested-content img {
    height: auto; 
    max-height: 180px;
  }
}
